.footer {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
  }
  
  .footer-links li {
    margin: 0 10px;
  }
  
  .footer-links a {
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .footer-links {
      flex-direction: column;
    }
  
    .footer-links li {
      margin: 5px 0;
    }
  }
  